.screen {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 100vh;
  background-color: #f8fafc;
}

.leftPanel {
  background: white;
  border-right: 1px solid #e2e8f0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.manualInputGrid {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 15px;
}

.miniLabel {
  font-size: 10px;
  font-weight: 800;
  color: #64748b;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
}
.leftPanel {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupa a altura total da tela */
  padding: 30px;
  background: white;
  border-right: 1px solid #e2e8f0;
}

.topContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* A mágica acontece aqui */
.footerActions {
  margin-top: auto; /* Empurra o container para o fim do pai flex */
  padding-top: 20px; /* Um respiro para não colar no formulário se a tela for pequena */
}
.field {
  width: 100%;
  padding: 12px;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
  font-weight: 700;
  outline: none;
}

.inputSuccess { border-color: #10b981; background: #f0fdf4; }

.previewArea { min-height: 20px; margin-top: 5px; }
.foundText { color: #16a34a; font-size: 12px; font-weight: 900; text-transform: uppercase; }
.errorText { color: #ef4444; font-size: 11px; font-weight: 700; }

.btnAdd {
  padding: 14px;
  background: #0f172a;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
}

.summaryBox {
  margin-top: auto;
  padding: 20px;
  background: #f1f5f9;
  border-radius: 12px;
  text-align: center;
}

.weightValue { font-size: 32px; font-weight: 950; font-family: monospace; }
.cartWrapper { padding: 40px; overflow-y: auto; background: #f1f5f9; }
.alertMsg { color: #ef4444; font-size: 12px; font-weight: 800; text-align: center; }